#root {
  margin: 0 auto;
  text-align: center;
}

.hero {
  background-image: url('../src/images/Working-in-a-cafe-place.JPG'); 
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  margin:0;
  height: 100vh;
}
