#root {
  margin: 0 auto;
  text-align: center;
}

.navbar {
  z-index: 10000;
}

.active {
  font-weight: bold;
}

.hero {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 115px 0;
  margin:0;
  height: calc(100& - 2540px);
}

.heroOne {
  background-image: url('../img/simona-wurst-web-dev-working-in-a-cafe.JPG'); 
}

.heroTwo {
  background-image: url('../img/working-remote-in-a-beautiful-cafe-in-Bangkok.webp'); 
}

.heroThree {
  background-image: url('../img/website-development-code-in-a-coffee-shop-Bangkok.webp'); 
}

.heroFour {
  background-image: url('../img/working-as-digital-nomad-in-Bangkok.webp'); 
}

.heroFive {
  background-image: url('../img/road-with-palmtrees-koh-kood-in-thailand.webp'); 
}
